---
interface Props {
  top: number;
  left?: number;
  right?: number;
  alt: string;
  src: "cube" | "cubes";
}

const { top, left, right, alt, src } = Astro.props;
---

<div
  class="container"
  style={{
    top: `${top}vh`,
    left: `${left}vw`,
    right: `${right}vw`,
  }}
>
  <img src={`${src}.svg`} alt={alt} />
</div>

<style>
  .container {
    position: absolute;
  }
  .container::selection {
    background: transparent;
  }
  .container img {
    width: 100%;
    height: 100%;
  }
  .container img::selection {
    background: transparent;
  }
</style>
