---
import "@fontsource-variable/overpass-mono";
import "@fontsource/russo-one";
import Graphics from "../components/graphics/Graphics.astro";
import Line from "./graphics/Line.astro";
const faqData = [
  {
    question: "What is a Hackathon?",
    answer:
      "A Hackathon is a codefest where you get to collaborate with people to create a project in the given time. It provides a platform to the participants for turning their idea into a full fledged startup/project.",
  },
  {
    question: "What is the criteria for shortlisting teams?",
    answer:
      "The registered participants will be shortlisted on the basis of their *Problem Statement, Resume, LinkedIn/Github profiles etc.*",
  },
  {
    question: "Will there be food arrangement?",
    answer:
      "Yes. हाँ. Sure. Sí. Absolutely. You will be provided with proper meals. Thanks to our sponsors.",
  },
  {
    question: "I am a beginner, Can I register?",
    answer:
      "YES!! Of course, You can. We, at ACE, support beginner friendly teams and are even reserving a few spots for enthusiastic participants! If you're one of them, you're more than welcome!",
  },
  {
    question: "How big can my team be?",
    answer: "Number of team members in your team can vary from 2 to 4.",
  },
  {
    question: "What do I bring with me to the event?",
    answer:
      "You are required to bring your school/college ID, laptops, phone, chargers. A pillow and sleeping bag may be useful as well.",
  },
  {
    question: "What benefits do I get from this hackathon?",
    answer:
      "*Experience, Prizes, Lots of Goodies, Participation Certificate, Networking with Mentors and Industrial Experts, Coffee, and a whole lot of memories.*",
  },
  {
    question: "What is the eligibility criteria?",
    answer:
      "You must be a student from any University/College or Higher Secondary School.",
  },
  {
    question: "Error 404. Question not found.",
    answer:
      "You can ask your queries on our [Discord Server](https://discord.gg/zZNrgktFzP.)",
  },
];
---

<section id="faq">
  <h1>{faqData.length} .</h1>
  <div class="header">
    <p>FAQs</p>
    <Line top={2} left={7} height={15} rotation={-90} design="primary" />
  </div>

  <div class="faq__container">
    <div class="faq__item">
      {
        faqData.slice(0, faqData.length / 2 + 1).map((faq) => (
          <div class="faq__item__content" onclick="">
            <h3 class="faq__question">{faq.question}</h3>
            <p class="faq__answer">{faq.answer}</p>
          </div>
        ))
      }
    </div>
    <div class="faq__item">
      {
        faqData.slice(faqData.length / 2 + 1, faqData.length).map((faq) => (
          <div class="faq__item__content" onclick="">
            <h3 class="faq__question">{faq.question}</h3>
            <p class="faq__answer">{faq.answer}</p>
          </div>
        ))
      }
    </div>
  </div>
  <Graphics src="cubes" top={25} left={-10} alt="cubes" />
  <Graphics src="cubes" top={50} right={-10} alt="cube" />
  <Graphics src="cubes" top={75} left={-10} alt="cubes" />
</section>
<style>
  #faq {
    position: relative;
    min-height: 50dvh;
    height: auto;
    padding: 5dvh 10dvw;
  }
  h3,
  h1 p {
    cursor: pointer;
  }
  .header {
    position: relative;
  }
  #faq h1 {
    font-size: 10em;
    height: 0.8em;
    font-weight: bold;
    padding: 0;
    margin: 0;
    color: var(--text-background);
  }
  #faq h1::selection {
    background: transparent;
  }
  .header > p {
    color: var(--text-primary);
    font-size: 2rem;
    margin-left: 1rem;
  }
  #faq p::selection {
    background: transparent;
  }
  .faq__container {
    display: grid;
    width: 80%;
    margin-left: 1rem;
    grid-template-columns: repeat(2, 1fr);
    gap: 4rem;
  }
  .faq__item {
    width: 100%;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  .faq__question {
    margin-bottom: 1dvh;
    font-size: 1.25rem;
    line-height: 2rem;
    color: var(--text-primary);
    font-family: "Overpass Mono", monospace;
  }
  .faq__answer {
    color: var(--text-secondary);
    font-size: 0.9rem;
    line-height: 1.5rem;
    padding-right: 10%;
    font-family: "Overpass Mono", monospace;
  }
  @media screen and (max-width: 768px) {
    #faq {
      padding: 5dvh 5dvw;
    }
    .faq__container {
      width: 100%;
      gap: 0;
      grid-template-columns: repeat(1, 1fr);
    }
    .faq__item {
      gap: 0;
    }
    .faq__item__icon img {
      height: 1.5rem;
      margin-top: 0.4rem;
    }
    .faq__question {
      font-size: 1rem;
    }
    .faq__answer {
      font-size: 0.8rem;
    }
  }
</style>
