---
import Card from "./card/Card.astro";
interface Judge {
  name: string;
  description: string;
  src: ImageMetadata;
}
import Graphics from "./graphics/Graphics.astro";
import "@fontsource-variable/overpass-mono";
import Line from "./graphics/Line.astro";
import Anmoldeep from "../assets/judges/Anmoldeep.png";
import Ayon from "../assets/judges/Ayon.png";
import Shivam from "../assets/judges/Shivam.jpg";
import Ayush from "../assets/judges/Ayush.jpg";
import Pawan from "../assets/judges/Pawansinghla.jpg";
import Ashish from "../assets/judges/AshishSapra.png";
import Vani from "../assets/judges/vani.jpg";
import Arya from "../assets/judges/Arya.jpg";
import Rameet from "../assets/judges/rameet.jpg";
import Srijit from "../assets/judges/srijit.png";

const Judge_data: Judge[] = [
  {
    name: "Ayon Roy",
    description: "Executive Data Scientist @ NielsenIQ",
    src: Ayon,
  },
  {
    name: "Shivam Joshi",
    description:
      "Founder and Executive Director at Codon’s Ltd. Corporate Trainer",
    src: Shivam,
  },
  {
    name: "Ashish Sapra",
    description:
      "Data Scientist, Ex-Data Analyst @ Caterspoint, Microsoft Ideathon Judge + Mentor",
    src: Ashish,
  },
  {
    name: "Pawan Singhla",
    description: "Full-Stack Developer, Software Engineer @ ZIGRAM",
    src: Pawan,
  },
];
const Mentor_data: Judge[] = [
  {
    name: "Ayush Kumar",
    description: "GitHub Campus Expert 🚩|AWS Community Builder",
    src: Ayush,
  },
  // {
  //   name: "Anmoldeep Singh",
  //   description: "Salesforce Developer @ Persistent Systems Limited",
  //   src: Anmoldeep,
  // },
  {
    name: "Vani Mittal",
    description:
      "Software Developer, Gold MLSA, WGMIT Lead, Full Stack Developer",
    src: Vani,
  },
  {
    name: "Arya Soni",
    description: "Building Startup, DevOps @Zupee, DevOps & Cloud Enthusiast",
    src: Arya,
  },
  {
    name: "Rameet Singh Sachar",
    description:
      "Founder and CEO of Brainovative Labs, Pryasee at TIDES Business Incubator",
    src: Rameet,
  },
  {
    name: "Srijit S Madhavan",
    description:
      "Engineering Consultant @ EOX, Building Open Source Geospatial Tools",
    src: Srijit,
  },
];
---

<section id="judge_mentors">
  <h1>{Judge_data.length + Mentor_data.length}.</h1>
  <p>JUDGES & MENTORS</p>
  <div class="header">
    <p class="who">JUDGES</p>
    <Line top={1} right={16} height={15} rotation={-90} design="primary" />
  </div>
  <Graphics src="cubes" top={100} left={-15} alt="clouds" />
  <Graphics src="cube" top={50} right={-10} alt="clouds" />
  <!-- <Graphics src="cubes" top={150} right={-15} alt="clouds" />
  <Graphics src="cube" top={200} left={-15} alt="clouds" /> -->
  <div class="groups">
    {
      Judge_data.map((judge) => (
        <Card
          name={judge.name}
          description={judge.description}
          src={judge.src}
          alt={judge.name}
        />
      ))
    }
  </div>
  <div class="header" style="margin-top: 5rem;">
    <p class="who">MENTORS</p>
    <Line top={1} right={17} height={15} rotation={-90} design="primary" />
  </div>
  <div class="groups">
    {
      Mentor_data.map((judge) => (
        <Card
          name={judge.name}
          description={judge.description}
          src={judge.src}
          alt={judge.name}
        />
      ))
    }
  </div>
</section>

<style>
  #judge_mentors {
    position: relative;
    min-height: 10dvh;
    margin: 0 10dvw;
    font-family: "Overpass Mono Variable", monospace;
  }
  .header {
    position: relative;
  }
  #judge_mentors h1 {
    font-size: 10em;
    height: 0.8em;
    font-weight: bold;
    padding: 0;
    margin: 0;
    color: var(--text-background);
  }
  #judge_mentors h1::selection {
    background: transparent;
  }
  #judge_mentors p {
    color: var(--text-primary);
    font-size: 1.5em;
    margin-top: 2rem;
    margin-left: 1rem;
  }
  #judge_mentors .who {
    color: var(--text-primary);
    float: right;
    margin: 0;
  }
  #judge_mentors p::selection {
    background: transparent;
  }
  .groups {
    display: grid;
    height: auto;
    width: 100%;
    padding: 2dvh 0;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    grid-gap: 2rem;
  }
  /* mobile view */
  @media only screen and (max-width: 1000px) {
    #judge_mentors {
      margin: 0 5dvw;
    }
    #judge_mentors h1 {
      font-size: 6rem;
    }
    #judge_mentors .who {
      margin-right: 2rem;
    }
    .groups {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  @media only screen and (max-width: 600px) {
    #judge_mentors {
      margin: 0 5dvw;
    }
    #judge_mentors h1 {
      font-size: 6rem;
    }
    #judge_mentors .who {
      margin-right: 2rem;
    }
    .groups {
      grid-template-columns: repeat(1, 1fr);
    }
  }
</style>
