---
import "@fontsource-variable/overpass-mono";
import { getImage, Image } from "astro:assets";
import navbar from "../../assets/Navbar.svg";
import HackLogo from "../../assets/HackLogo.svg";
import hamburgermenu from "../../assets/hamburgermenu.svg";
import closeIcon from "../../assets/close.svg";
const optimizedBackground = await getImage({ src: navbar, format: "webp" });

const menuOptions = [
  {
    name: "About us",
    link: "/#about-us",
  },
  {
    name: "Themes",
    link: "/#themes",
  },
  {
    name: "FAQ",
    link: "/#faq",
  },
  {
    name: "Prizes",
    link: "/#prizes",
  },
  {
    name: "Team",
    link: "/team",
  },
  {
    name: "Timeline",
    link: "https://drive.google.com/file/d/1kyrYtsQe0aRFAj4gd6ZXxGpG6SiXN-T0/view?usp=sharing",
  },
];
const teamOptions = [
  {
    name: "About us",
    link: "/#about-us",
  },
  {
    name: "Themes",
    link: "/#themes",
  },
  {
    name: "FAQ",
    link: "/#faq",
  },
  {
    name: "Prizes",
    link: "/#prizes",
  },
  {
    name: "Team",
    link: "/team",
  },
  {
    name: "Timeline",
    link: "https://drive.google.com/file/d/1kyrYtsQe0aRFAj4gd6ZXxGpG6SiXN-T0/view?usp=sharing",
  },
];
---
<header
  class="header"
  style={`background-image: url(${optimizedBackground.src});`}
>
  <div class="container">
    <div class="logos">
      <div class="header__logo">
        <a href="/">
          <Image src={HackLogo} alt="logo" />
        </a>
      </div>
      <div class="header__menuIcon">
        <div id="header_menu_toggle">
          <Image src={hamburgermenu} alt="logo" />
        </div>
      </div>
      <div id="header_menu_overlay">
        <div class="overlay_logo">
          <a href="/">
            <Image src={HackLogo} style={{ width: "4rem" }} alt="logo" />
          </a>
          <Image id="menu-icon" src={closeIcon} alt="logo" />
        </div>
        <div class="overlay_menu">
          <ul>
            {menuOptions.map((option) => (
              <li>
                <a href={option.link}>{option.name}</a>
              </li>
            ))}
          </ul>
        </div>
      </div>
    </div>
    <div class="header__menu">
      <ul>
        {(Astro.props.team ? teamOptions : menuOptions).map((option) => (
          <li>
            <a href={option.link}>{option.name}</a>
          </li>
        ))}
      </ul>
    </div>
  </div>
</header>

<style>
  .header {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 5dvw;
    color: var(--text-primary);
    padding: 2rem 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
  }
  .header__logo {
    position: relative;
    float: left;
    margin-left: 10dvw;
  }
  .header__logo img {
    width: 6rem;
    height: 100%;
  }
  .header__logo img::selection {
    background: transparent;
  }
  .header__menuIcon {
    display: none;
  }
  .header__menu {
    float: right;
    margin-right: 10dvw;
    margin-top: 2.5dvh;
  }
  .header__menu *::selection {
    background: transparent;
  }
  .header__menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    font-family: "Overpass Mono Variable", sans-serif;
  }

  .header__menu ul li {
    display: inline-block;
    margin-left: 30px;
  }

  .header__menu ul li a {
    color: var(--text-primary);
    font-size: 1.25rem;
    font-weight: 500;
    text-transform: uppercase;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
  }

  .header__menu ul li a:hover {
    color: var(--text-primary-hover);
  }

  .header__btn {
    float: right;
  }

  .header__btn a {
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    text-decoration: none;
    padding: 10px 30px;
    border-radius: 50px;
    transition: all 0.3s ease-in-out;
  }
  #header_menu_overlay {
    display: none;
    position: absolute;
    top: 0;
    border: 1px solid var(--text-primary);
    left: 0;
    width: 100%;
    border-radius: 10px;
    min-height: 30vh;
    height: auto;
    padding-bottom: 5vh;
  }
  /* mobile view */
  @media screen and (max-width: 1200px) {
    .header__menu {
      display: none;
    }
    #menu-icon {
      width: 2.5rem;
      height: 2.5rem;
    }
    .header {
      background-image: none !important;
      padding: 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 10dvh;
    }
    .container {
      display: flex;
      width: 100%;
      margin-top: 2rem;
    }
    #header_menu_overlay {
      display: none;
      background: var(--primary-dark);
      z-index: 2;
      width: 100%;
      flex-direction: column;
    }

    .overlay_logo {
      display: flex;
      justify-content: space-between;
      margin: 0 0.8rem;
    }
    .overlay_logo a img {
      height: 4rem;
    }
    .overlay_logo > img {
      height: 3rem;
      margin-top: 0.5rem;
    }
    .overlay_menu {
      justify-content: center;
      align-items: center;
      display: flex;
    }
    .overlay_menu ul {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      list-style: none;
      margin: 0;
      padding: 0;
      font-family: "Overpass Mono Variable", sans-serif;
    }
    .overlay_menu ul li {
      margin: 1rem;
    }
    .overlay_menu ul li a {
      color: var(--text-primary);
      font-size: 1.25rem;
      font-weight: 500;
      text-transform: uppercase;
      text-decoration: none;
      transition: all 0.3s ease-in-out;
    }
    .logos {
      display: flex;
      position: relative;
      justify-content: space-between;
      align-items: center;
      background: var(--primary-dark);
      width: 100%;
      margin: 1rem;
      padding: 0 1rem;
      border: 1px solid var(--text-primary);
      border-radius: 10px;
    }
    .header__logo {
      margin-left: 0;
    }
    .header__menuIcon {
      display: block;
    }
    .header__menuIcon img {
      width: 2rem;
    }
    .header__logo img {
      width: 4rem;
    }
  }
</style>

<script is:inline>
  const menuIcon = document.getElementById("header_menu_toggle");
  const menuOverlay = document.getElementById("header_menu_overlay");
  menuIcon.addEventListener("click", () => {
    menuOverlay.style.display = "flex";
  });
  menuOverlay.addEventListener("click", () => {
    menuOverlay.style.display = "none";
  });
</script>
